@model FlightPlan.Application.Reports.SummaryReport

@{
    ViewData["Title"] = "Summary";
}

<h2>Summary</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalFlights)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFlights)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalDistance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalDistance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalFuelConsumption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFuelConsumption)
        </dd>
    </dl>
</div>
