@model IEnumerable<FlightPlan.Application.Domain.Flight>

@{
    ViewData["Title"] = "Flights";
}

<h2>Flights</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAirport.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.Model)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
